# object files
*.o
# executables
*.exe

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
*.zip

# build folder
_build/*
!_build/*/*.bat   
!_build/*.bat     
!_build/*/CMakeLists.txt
!_build/*/*/CMakeLists.txt
!_build/*/*.cmake
!_build/*/*/*.cmake

# .cache folder 
.cache/*
