# object files
*.o
# executables
*.exe

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
*.zip

# build folder
build/*
!build/*/*.bat   
!build/*.bat     
!build/*/CMakeLists.txt
!build/*/*/CMakeLists.txt
!build/*.cmake
!build/*/*.cmake
!build/*/*/*.cmake

# .cache folder 
.cache/*
