# object files
*.o
# executables
*.exe

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
*.zip

# build-folder
build/*
!build/*/*.cap     # renderdoc
!build/*/*.a       # libraries
!build/*/*.bat     # batch files
!build/*/CMakeLists.txt
!build/*/*/CMakeLists.txt
!build/*/.gitkeep
